.router {
    height: 57px;
}

.router::after {
    width: 100%;
    content: "";
    border-bottom: 1px solid #F3F3F3;
    box-sizing: border-box;
    display: flex;
}

.router-list {
    font-size: 18px;
    display: flex;
    height: 100%;
    align-items: center;
}

.router-frame {
    display: flex;
}

.router-link {
    margin-inline: 2px;
}

.router-spilt {
    padding-inline: 8px;
}

.router-item {
    margin-inline: 2px;
}

@media screen and (max-width: 660px) {
    .router-list {
        font-size: 14px;
    }
}