.border-box {
    color: black;
    width: calc(100% - 64px);
    margin-inline: auto;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 5px;
    padding-inline: 32px;
    padding-top: 0px;
    padding-bottom: 16px;
    margin-top: 16px;
}

/* @media screen and (max-width: 660px) {
    .border-box {
        width: calc(90% - 64px);
    }
} */