.catalog-title {
    margin-top: 15px;
    margin-bottom: 12px;
}

.catalog-des {
    margin-top: 15px;
    margin-bottom: 12px;
    padding: 8px;
    border: 1px solid var(--gray);
    border-radius: 5px;
    font-size: 14px;
}

.table-frame {
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--gray);
    border-spacing: 0px;
}

.table-head {
    padding: 8px;
    font-size: 24px;
    background-color: var(--theme);
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.table-item {
    padding: 8px;
    font-size: 18px;
}

.table-item-below {
    background-color: #F3F3F3;
}