.top-element {
    height: 100%;
    display: flex;
    align-items: center;
}

.top-element-logo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.top-element-logo-title {
    font-size: 24px;
    font-weight: bolder;
    color: white;
}

@media screen and (max-width: 660px) {
    .top-element-logo-title {
        font-size: 20px;
    }
}

.extra-links {
    display: flex;
    height: 100%;
    margin-left: auto;
    font-weight: bolder;
    align-items: center;
}

.extra-links-item {
    height: 100%;
    cursor: pointer;
    align-items: center;
    display: flex;
    padding-inline: 12px;
    text-decoration: none;
    color: white;
}

.extra-links-item:hover {
    background-color: #7d85db;
}